@model Web.Model.tbl_FeedBack
    <style>
        .detail{
            margin-top:7px
        }
    </style>
<div class="text-width">
    <div class="title">
        <h5 data-selector="lblSchoolName"></h5>
    </div>
    <div class="text-center text-top">
        <h3>Chi tiết liên hệ</h3>
    </div>
</div>
<div class = "form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Họ tên:</label>
        <div class="col-md-8 detail">
          <p >@Model.FullName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Điện thoại:</label>
        <div class="col-md-8 detail">
            <p>@Model.Phone</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-8 detail">
            <p>@Model.Email</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tiêu đề:</label>
        <div class="col-md-8 detail">
            <p>@Model.Title</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nội dung:</label>
        <div class="col-md-8 detail">
            <p>@Model.Contents</p>
        </div>
    </div>
</div>